<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}MessageCrypt{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('css/library/jquery-ui.css') }}"/>
        <link rel="stylesheet" href="{{ asset('lib/Bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('lib/font-awesome-4.7.0/css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('lib/Alloy-3.0.1/aui-css/css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="{{ asset('lib/Cropper/cropper.min.css')}}"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        {% block stylesheets %}
            {% block pagestyles %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block menu %}{% endblock %}
            {% for flash_message in app.flashes('notice')  %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ flash_message }}
                </div>
            {% endfor %}
            <div class="container">
                <div class="row">
                    <div class="panel panel-custom-horrible-red">
                        <div class="panel-body ">
                            <div>
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <script type="text/javascript" src="{{ asset('js/library/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('lib/Bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/library/jquery-1.12.4.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/library/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('lib/Alloy-3.0.1/aui/aui-min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('lib/Cropper/cropper.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/common.js') }}"></script>


        {% block javascripts %}
            <script>
                $(document).ready(function(){
                    //Open a WebSocket connection.
                    var wsUri = "ws://localhost:9000/daemon.php";
                    websocket = new WebSocket(wsUri);

                    //Connected to server
                    websocket.onopen = function(ev) {
                        alert('Connected to server ');
                    }

                    //Connection close
                    websocket.onclose = function(ev) {
                        alert('Disconnected');
                    };

                    //Message Receved
                    websocket.onmessage = function(ev) {
                        alert('Message '+ev.data);
                    };

                    //Error
                    websocket.onerror = function(ev) {
                        alert('Error '+ev.data);
                    };

                    //Send a Message
                    $('#send').click(function(){
                        var mymessage = 'This is a test message';
                        websocket.send(mymessage);
                    });
                });
            </script>

            {% block menuscripts %}{% endblock %}
            {% block pagescripts %}{% endblock %}
        {% endblock %}
    </body>
</html>