{% extends 'base.html.twig' %}

{% block menu %}
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('user_home_index') }}">
                        <i class="fa fa-weixin fa-1x" aria-hidden="true"></i>
                        MessageCrypt
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="{% if 'user_profile' in app.request.attributes.get('_route') %}active{% endif %}">
                            <a href="{{ path('user_profile_myprofile') }}" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle fa-1x" aria-hidden="true"></i>
                                Profile
                            </a>
                        </li>
                        <li class="dropdown mega-dropdown {% if 'user_friends' in app.request.attributes.get('_route') %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-users fa-1x" aria-hidden="true"></i>
                                <span>
                                    Friends
                                    <div class="invitationsAlert">
                                        {%  if countInvitations > 0 %}
                                            <div class="mainMenuAlert">
                                                <span>{{ countInvitations }} invitation{%  if countInvitations != 1  %}s{% endif %} </span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </span>
                            </a>
                            <ul class="dropdown-menu mega-dropdown-menu">
                                <li class="col-sm-4">
                                    <a class="list-group-item" href="{{ path('user_friends_myfriends') }}">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <span style="font-size: 13px;">
                                        My friends
                                    </span>
                                    </a>
                                </li>
                                <li class="col-sm-4">
                                    <a class="list-group-item" href="{{ path('user_friends_search') }}">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <span style="font-size: 13px;">
                                        Search
                                    </span>
                                    </a>
                                </li>
                                <li class="col-sm-4">
                                    <a class="list-group-item invitationsLabel {%  if countInvitations > 0 %}alertColor{% endif %}" href="{{ path('user_friends_invitations') }}">
                                        <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                                        <span style="font-size: 13px;">
                                            Invitations
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown mega-dropdown {% if 'user_message' in app.request.attributes.get('_route') %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span>
                                    <i class="fa fa-envelope fa-1x" aria-hidden="true"></i>
                                    Messages
                                    <div class="messagesAlert">
                                        {%  if notRead > 0 %}
                                            <div class="mainMenuAlert">
                                                <span>{{ notRead }} messages{%  if notRead != 1  %}s{% endif %}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </span>
                            </a>
                            <ul class="dropdown-menu mega-dropdown-menu">
                                <li class="col-sm-6">
                                    <a class="list-group-item" href="{{ path('user_messages_messenger') }}">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <span style="font-size: 13px;">
                                            Messenger
                                        </span>
                                    </a>
                                </li>
                                <li class="dropdown1 col-sm-6">
                                    <a href="#" class="dropdown-toggle list-group-item messagesLabel {%  if notRead > 0 %}alertColor{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Messages
                                    </a>
                                    <ul class="dropdown-menu messagesList">
                                        <li>
                                            {% for user in usersToMessages|slice(0, 3) %}
                                                <a class="list-group-item {%  if user.read == 0 %}alertColor{% endif %}" href="{{ path('user_messages_showAll', {'friendId': user.id})}}">
                                                    {% if user.avatar %}
                                                        <img class='littleImg' src="{{ asset('uploads/avatars/' ~ user.avatar) }}" style="width: 100px;">
                                                    {% else %}
                                                        <img class='littleImg' src='/images/empty.png' style="width: 100px;">
                                                    {% endif %}
                                                    <span style="font-size: 13px; ">
                                                        {{  user.name }} {{ user.lastname }}
                                                    </span>
                                                </a>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="{{ path('logout') }}" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-power-off fa-1x" aria-hidden="true"></i>
                                <span>
                                    Logout
                                </span>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <br>

{% endblock %}

{% block menuscripts %}
    <script>
        $(document).ready(function(){
            $(".dropdown1").hover(
                function() {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown("400");
                    $(this).toggleClass('open');
                },
                function() {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideUp("400");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
{% endblock %}