{% extends 'user/friends/base.html.twig' %}
{% block tab %}
    <h1 class="page-header">Search</h1>

    {{  filter_begin( userTable ) }}
        <div class="form-inline">
            <div class="form-group">
                {#{{ filter_label( userTable.filters.name ) }}#}
                {{ filter_widget( userTable.filters.name ) }}
            </div>
            <div class="form-group">
                {#{{ filter_label( userTable.filters.lastName ) }}#}
                {{ filter_widget( userTable.filters.lastName ) }}
            </div>
            <div class="form-group">
                {#{{ filter_label( userTable.filters.birthDate ) }}#}
                {{ filter_widget( userTable.filters.birthDate  ) }}
            </div>
            <div class="form-group">
                {#{{ filter_label( userTable.filters.username ) }}#}
                {{ filter_widget( userTable.filters.username ) }}
            </div>
            <div class="form-group">
                {#{{ filter_label( userTable.filters.email ) }}#}
                {{ filter_widget( userTable.filters.email ) }}
            </div>
            {{ filter_submit_button( userTable ) }}
            {{ filter_reset_link( userTable ) }}
        </div>
    {{ filter_end( userTable ) }}
    <br>
    <div class="table table-hover searchTable">
        {{ table( userTable ) }}
    </div>

{% endblock %}

{% block pagescripts %}
<script>
    $(".goProfile").on('click', function () {
        var id = $(this).parent().attr('id');
        var url = "{{  path('user_profile_profile', {'id': 'id'}) }}";
        url = url.replace('id', id);
        $(location).attr('href',url);
    });

    $(".sendInvitation").on('click', function () {
        var userId = $(this).attr('id');
        var url = "{{  path('user_friends_sendInvitations', {'userId': 'userId', 'redirected': 'search'}) }}";
        url = url.replace('userId', userId);
        $(location).attr('href',url);
    });

    $(".removeFriend").on('click', function () {
        var userId = $(this).attr('id');
        var url = "{{ path('user_friends_removeFriend', {'userId': 'userId', 'redirected': 'search'}) }}";
        url = url.replace('userId', userId);
        $(location).attr('href', url);
    });

    $(".confirmInvitation").on('click', function () {
        var userId = $(this).attr('id');
        var url = "{{ path('user_friends_confirmInvitation', {'userId': 'userId', 'redirected': 'search'}) }}";
        url = url.replace('userId', userId);
        $(location).attr('href', url);
    })  ;
</script>
{% endblock %}