{% extends 'home.html.twig' %}

{% block content %}
    <h1 class="page-header">
        Reset password
    </h1>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div style="width: 300px;">
        {{ form_start(form) }}
        {#<div>#}
            {#{{ form_label(form.name) }}#}
            {#{{ form_errors(form.email) }}#}
            {#{{ form_widget(form.email) }}#}
        {#</div>#}
        {{ form_end(form) }}
    </div>
{% endblock %}