{% extends 'user/menu.html.twig' %}

{% block content %}
    <h2 class="page-header">Profile</h2>
    <div>
        <div class="col-md-8" style="text-align: center;">
            <div>
                {% if user.avatar %}
                    <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}">
                {% else %}
                    <img src='/images/empty.png'>
                {% endif %}
            </div>
            <br>
        </div>

        <div class="col-md-4">
            <div>
                <label> Name </label>
                <br>
                <span> {{ user.name }} </span>
            </div>
            <br>
            <div>
                <label> Last name </label>
                <br>
                <span> {{ user.lastName }} </span>
            </div>
            <br>
            <div>
                <label> Email </label>
                <br>
                <span> {{ user.email }} </span>
            </div>
            <br>
            <div>
                <label> Birth date </label>
                <br>
                <span>  {{ user.birthDate|date("Y-m-d") }} </span>
            </div>
            <br>

            {% if user.id != ownUser.id %}
                <div class="friendsButtons">
                    {% if friend1 is empty and friend2 is empty  %}
                        <button id='{{ user.id }}' class='btn btn-info sendInvitation'>
                            <i class="fa fa-address-book-o" aria-hidden="true"></i> Send invitation
                        </button>
                        <br><br>
                    {% endif %}
                    {% if friend1 is empty and friend2 is not empty  %}
                        <button id='{{ user.id }}' class='btn btn-success confirmInvitation'>
                            <i class="fa fa-check" aria-hidden="true"></i> Confirm invitation
                        </button>
                        <br><br>
                    {% endif %}
                    {% if (friend1 is not empty and friend2 is empty) or (friend1 is empty and friend2 is not empty) %}
                        <button id='{{ user.id }}' class='btn btn-warning removeFriend'>
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel invitation
                        </button>
                        <br><br>
                    {% endif %}
                    {% if friend1 is not empty and friend2 is not empty %}
                        <button id='{{ user.id }}' class='btn btn-danger removeFriend'>
                            <i class="fa fa-times" aria-hidden="true"></i> Remove Friend
                        </button>
                        <br><br>
                        <button id='{{ user.id }}' class='btn btn-default goMessage'>
                            <i class="fa fa-envelope-open" aria-hidden="true"></i> Message
                        </button>
                    {% endif %}
                </div>
            {% endif %}

        </div>
        <br>
    </div>
{% endblock %}

{% block pagescripts %}
    <script>
        $(".sendInvitation").on('click', function () {
            var userId = $(this).attr('id');
            var url = "{{ path('user_friends_sendInvitations', {'userId': 'userId'}) }}";
            url = url.replace('userId', userId);
            $(location).attr('href', url);
        });

        $(".removeFriend").on('click', function () {
            var userId = $(this).attr('id');
            var url = "{{ path('user_friends_removeFriend', {'userId': 'userId'}) }}";
            url = url.replace('userId', userId);
            $(location).attr('href', url);
        });

        $(".confirmInvitation").on('click', function () {
            var userId = $(this).attr('id');
            var url = "{{ path('user_friends_confirmInvitation', {'userId': 'userId'}) }}";
            url = url.replace('userId', userId);
            $(location).attr('href', url);
        });

        $(".goMessage").on('click', function () {
            var friendId = $(this).attr('id');
            var url = "{{ path('user_messages_showAll', {'friendId': 'friendId'}) }}";
            url = url.replace('friendId', friendId);
            $(location).attr('href', url);
        });
    </script>
{% endblock %}